- name: Install gaming packages
  become: true
  ansible.builtin.dnf:
    state: present
    name:
      - lutris
      - steam

- name: Install gaming flatpaks
  community.general.flatpak:
    name:
      - net.davidotek.pupgui2
      - org.openrgb.OpenRGB

- name: Check if OpenRGB udev rules already exist
  stat:
    path: /usr/lib/udev/rules.d/60-openrgb.rules  
  register: openrgb_rules_present

- name: Download OpenRGB udev installer
  become: true
  get_url:
    url: https://openrgb.org/releases/release_0.9/openrgb-udev-install.sh
    dest: /tmp/openrgb-udev-install.sh
    mode: '0755'
  when: not openrgb_rules_present.stat.exists

- name: Run OpenRGB udev installer
  become: true
  command: /tmp/openrgb-udev-install.sh
  when: not openrgb_rules_present.stat.exists

- name: Remove installer script
  become: true
  file:
    path: /tmp/openrgb-udev-install.sh
    state: absent
  when: not openrgb_rules_present.stat.exists

- name: Create gaming drive mountpoint
  become: true
  ansible.builtin.file:
    path: "/mnt/games"
    state: directory

- name: Create gaming drive symlink
  become: true
  ansible.builtin.file:
    src: /mnt/games/
    dest: "{{ ansible_user_dir }}/Drives/Games"
    state: link