- name: Ensure firewalld is installed
  become: true
  ansible.builtin.dnf:
    name: firewalld
    state: present

- name: Ensure firewalld service enabled and running
  become: true
  systemd:
    enabled: true
    state: started
    name: firewalld

- name: Ensure SELinux enabled and enforcing
  become: true
  ansible.posix.selinux:
    policy: targeted
    state: enforcing

- name: Harden network parameters
  become: true
  ansible.posix.sysctl:
    name: "{{ item.name }}"
    value: '{{ item.value }}'
    sysctl_set: yes
    state: present
    reload: yes
    sysctl_file: /etc/sysctl.d/90-net.conf
  loop:
   - name: net.ipv4.tcp_syncookies
     value: 1
   - name: net.ipv4.conf.default.log_martians
     value: 1
   - name: net.ipv4.conf.all.log_martians
     value: 1
   - name: net.ipv4.conf.all.accept_source_route
     value: 0
   - name: net.ipv4.conf.default.accept_source_route
     value: 0
   - name: net.ipv6.conf.all.accept_source_route
     value: 0
   - name: net.ipv6.conf.default.accept_source_route
     value: 0
   - name: net.ipv4.conf.all.rp_filter
     value: 1  
   - name: net.ipv4.conf.default.rp_filter
     value: 1
   - name: net.ipv4.icmp_echo_ignore_broadcasts
     value: 1
   - name: net.ipv4.conf.all.send_redirects
     value: 0
   - name: net.ipv4.conf.default.send_redirects
     value: 0
   - name: net.ipv6.conf.default.accept_ra
     value: 0

- name: Harden kernel parameters
  become: true
  ansible.posix.sysctl:
    name: "{{ item.name }}"
    value: '{{ item.value }}'
    sysctl_set: yes
    state: present
    reload: yes
    sysctl_file: /etc/sysctl.d/90-kernel.conf
  loop:
  - name: kernel.randomize_va_space
    value: 2
  - name: kernel.dmesg_restrict
    value: 1
  - name: kernel.perf_event_paranoid
    value: 2
  - name: kernel.kptr_restrict
    value: 2  
  - name: kernel.unprivileged_bpf_disabled
    value: 1  
  - name: fs.protected_symlinks
    value: 1
  - name: fs.protected_hardlinks
    value: 1
  - name: fs.suid_dumpable
    value: 0

- name: Install security packages
  become: true
  ansible.builtin.dnf:
    state: present
    name:
      - clamav
      - clamav-update
      - nmap

- name: Ensure clamd not installed
  become: true
  ansible.builtin.dnf:
    state: absent
    name:
      - clamd

- name: Allow antivirus scans
  become: true
  seboolean:
    name: antivirus_can_scan_system
    state: yes
    persistent: yes

- name: Check if clamav database needs to update
  become: true
  command: freshclam --checks=0
  register: freshclam_check
  changed_when: false
  failed_when: freshclam_check.rc > 1

# Update the database
- name: Run freshclam
  become: true
  command: freshclam
  when: freshclam_check.rc == 1

# Disable unneeded services    
- name: Ensure avahi-daemon service disabled and stopped
  become: true
  systemd:
    enabled: false
    state: stopped
    name: avahi-daemon

- name: Ensure cups service disabled and stopped
  become: true
  systemd:
    enabled: false
    state: stopped
    name: cups

- name: Ensure ModemManager service disabled and stopped
  become: true
  systemd:
    enabled: false
    state: stopped
    name: ModemManager

- name: Create Firefox policies directory
  become: true
  ansible.builtin.file:
    path: "/etc/firefox/policies"
    state: directory

- name: Copy Firefox policies
  become: true
  copy: 
    src=policies.json
    dest=/etc/firefox/policies/policies.json 
    owner=root 
    group=root 
    mode=0644

- name: Copy Auditd config
  become: true
  copy: 
    src=auditd.conf
    dest=/etc/audit/auditd.conf
    owner=root 
    group=root 
    mode=0640

- name: Copy Auditd rules
  become: true
  copy: 
    src=audit.rules
    dest=/etc/audit/rules.d/audit.rules
    owner=root 
    group=root 
    mode=0640

- name: Reload Auditd rules
  become: true
  ignore_errors: true 
  ansible.builtin.command: augenrules --load 