- name: Install general packages
  become: yes
  ansible.builtin.dnf:
    state: present
    name:
      - fzf
      - gvfs
      - gvfs-mtp
      - htop
      - kitty
      - light
      - python3-pip
      - ranger
      - unrar
      - unzip
      - zsh

- name: Install Firefox Extensions
  become: yes
  shell: |
    mkdir /usr/lib64/firefox/distribution/extensions
    wget -O /usr/lib64/firefox/distribution/extensions/uBlock0@raymondhill.net.xpi "https://addons.mozilla.org/firefox/downloads/file/4171020/ublock_origin-1.52.2.xpi"
    wget -O /usr/lib64/firefox/distribution/extensions/{c3c10168-4186-445c-9c5b-63f12b8e2c87}.xpi "https://addons.mozilla.org/firefox/downloads/file/4170787/cookie_editor-1.12.0.xpi"

- name: Change default shell to ZSH
  user:
    name: "{{ ansible_user_id }}"
    shell: /usr/bin/zsh