- name: Install general packages
  become: true
  ansible.builtin.dnf:
    state: present
    name:
      - fzf
      - gvfs
      - gvfs-mtp
      - htop
      - kitty
      - light
      - python3-pip
      - ranger
      - unrar
      - unzip
      - zsh

- name: Change default shell to ZSH
  user:
    name: "{{ ansible_user_id }}"
    shell: /usr/bin/zsh